Source: kylin-assistant
Section: misc
Priority: optional
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@list.launchpad.net>
Uploaders:
 lixiang <lixiang@kylinos.cn>
Build-Depends: debhelper (>= 9),
               python-dev,
               python-lxml,
               python3-piston-mini-client,
               python-xdg,
               qtbase5-dev (>= 5.1),
               qt5-qmake,
               qtscript5-dev,
               qttools5-dev-tools,
               pkg-config,
               python (>= 2.6.6-3~),
               libglib2.0-dev,
               libgtop2-dev
Standards-Version: 3.9.8
Homepage: https://github.com/KylinAppCenter/kylin-assistant

Package: kylin-assistant
Architecture: amd64 arm64 armhf i386 
Depends: python-dbus,
         python-psutil,
         python-lxml,
         python-xdg,
         python-apt,
         python3-pil,
         python-imaging,
         python3-piston-mini-client,
         python-compizconfig,
         hdparm,
         lm-sensors,
         ethtool,
         lshw,
         dmidecode [amd64 arm64 armhf i386],
         cpufrequtils,
         pciutils,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Description: Integrated tool to aid in routine system maintenance tasks
 Kylin Assistant is a tool designed to help Ubuntu and Ubuntu Kylin 
 desktop users manage and maintain many aspects of their working 
 environment conveniently in a single application, providing a consistent
 user experience.
 .
 Features currently included:
  * Detecting and displaying general system information
  * Unity and Mate user interface customization
  * System garbage cleaning
